---
title: Customize
body_class: "talent_dashboard customize"
---

.select_theme
  .container
    %ul.list_theme
      %li
        %a.tooltips{ :href => "#", "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Template name to choose" }
          %span.img{ :style => "background-image: url(http://singlepage-template.zagographic.it/img/banner_01.png);" }
          %img{:src => "http://singlepage-template.zagographic.it/img/banner_01.png", :alt => ""}/

.container.ctn-eksis

  .ctn-customize
    %h2.text-center Built your page <a class="trigger-popup" href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
    #editor-builder
      .menu-builder-single.placeholder
        %h3.text-center Drag item here

/.container

/ Modal
#cstModal.modal.fade{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "cstModalLabel", "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => "true" } &times;
          %span.sr-only Close
        %h4#cstModalLabel.modal-title Hello visitor
      .modal-body
        %p Hai saya di sini membantu kamu membuat portfolio kamu.
        %p Pertama klik <strong>tab layout</strong> pada menu <span class="glyphicon glyphicon-th-list main-nav"></span> diatas kemudian drag kolom yang kamu inginkan.
        %img{:src => "images/col-layout.png", :alt => "layout column"}/
        %p Kedua, setelah itu kamu bisa masukkan elemen media dan content sesuka kamu dan juga kamu bisa menambahkan banyak layout.
      .modal-footer
        %button.btn.btn-default{ :type => "button", "data-dismiss" => "modal" } Close