---
title: Customize
body_class: "talent_dashboard customize"
---

.container.ctn-eksis

  .ctn-customize
    %h2.text-center Built your page
    #editor-builder
      .menu-builder-single.placeholder
        %h3.text-center Drag item here
/.container
