---
title: Customize
body_class: "talent_dashboard customize"
---

.select_theme
  .container
    %a.trigger-popup{ :href => "#" }
      %img{:src => "images/icon-lampu.png", :alt => "popup help"}/
    %ul.list_theme
      %li
        %a.tooltips{ :href => "#", "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Template name to choose" }
          %span.img{ :style => "background-image: url(http://singlepage-template.zagographic.it/img/banner_01.png);" }
          %img{:src => "http://singlepage-template.zagographic.it/img/banner_01.png", :alt => ""}/

.container.ctn-eksis

  .ctn-customize
    %h2.text-center Built your page
    #editor-builder
      .menu-builder-single.placeholder
        %h3.text-center Drag item here

/.container

/ Modal
#cstModal.modal.fade{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "cstModalLabel", "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-body
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => "true" } &times;
          %span.sr-only Close
        %p Hai, saya disini membantu kamu membuat portfolio kamu. Ikuti petunjuk singkat ini untuk segera memulai.
        %p <span class="num">1</span> Pertama, klik <strong>tab layout</strong> <span class="glyphicon glyphicon-th-list main-nav"></span> dan drag kolom yang kamu inginkan.
        %img{:src => "images/modal-img-cst.png", :alt => "layout column"}/
      .modal-footer
        %button#btnModalNextCst.btn.btn-danger.btn-idx{ :type => "button" } Berikut

/ Modal
#cstModal2.modal.fade{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "cstModal2Label", "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-body
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => "true" } &times;
          %span.sr-only Close
        %p Hai, saya disini membantu kamu membuat portfolio kamu. Ikuti petunjuk singkat ini untuk segera memulai.
        %p <span class="num">2</span> Setelah memilih layout, sekarang kamu bisa memasukkan elemen seperti media atau konten ke dalam layout yang telah kamu pilih.
        %img{:src => "images/modal-img-cst-2.png", :alt => "layout column"}/
        %p <span class="num">3</span> Langkah berikutnya adalah mengisi data elemen media atau konten yang telah kamu masukkan.
      .modal-footer
        %button.btn.btn-danger.btn-idx{ :type => "button", "data-dismiss" => "modal" } Close