---
title: Talent Dashboard
body_class: "talent_dashboard"
---

.container.ctn-eksis

  .td-ct-wrapper
    .td-left-ct
      %h3 Halo username
      .img-avatar-wrapper
        .img-avatar-fake no image
      %ul.td-menu-left
        %li.active
          %a{ :href => "#" } Profil Saya
        %li
          %a{ :href => "#" } Portfolio
        %li
          %a{ :href => "#" } Lainnya

    .td-middle-ct
      .form-talent-wrapper
        .form-talent
          %form{ :role => "form" }
            .form-group
              %label.hide{ :for => "input-username" } Username
              %input.form-control.input-lg{ :type => "text", :id => "input-username", :placeholder => "Username" }
            .form-group
              %label.hide{ :for => "input-nama-depan" } Nama depan
              %input.form-control.input-lg{ :type => "text", :id => "input-nama-depan", :placeholder => "Nama depan" }
            .form-group
              %label.hide{ :for => "input-nama-belakang" } Nama belakang
              %input.form-control.input-lg{ :type => "text", :id => "input-nama-belakang", :placeholder => "Nama belakang" }
            .form-group
              %label.hide{ :for => "input-email" } Email address
              %input.form-control.input-lg{ :type => "email", :id => "input-email", :placeholder => "Email" }
            .checkbox
              %label.checkbox-inline
                %input#inlineCheckbox1{ :type => "checkbox", :value => "option1" } Pria
              %label.checkbox-inline
                %input#inlineCheckbox2{ :type => "checkbox", :value => "option2" } Wanita
            .form-group
              %label.hide{ :for => "input-lahir" } Tempat lahir
              %input.form-control.input-lg{ :type => "text", :id => "input-tempat-lahir", :placeholder => "Tempat lahir" }
            .date-birth-wrapper
              %label{ :for => "input-lahir" } Tempat lahir <br />
              .date-birth.row
                .col-lg-3
                  %select.form-control.input-lg
                    %option Tanggal
                    %option 1
                    %option 2
                    %option 3
                .col-lg-6
                  %select.form-control.input-lg
                    %option Bulan
                    %option Januari
                    %option Februari
                    %option Maret
                .col-lg-3
                  %select.form-control.input-lg
                    %option Tahun
                    %option 1998
                    %option 1999
                    %option 2000

            %br

            %button.btn-talent-settings{ :type => "submit" } Simpan data saya

    .td-right-ct
      .talent-percentage-wrapper
        %h2.percentage <strong>0%</strong>
        %p.lead 0.0MB dari 1GB Kuota terpakai <small>Mulai buat portfolioku</small>

/.container


%button.btn.btn-primary.btn-lg{ "data-toggle" => "modal", "data-target" => "#welcomeModal" } Launch demo modal

/ Welcome modal
#welcomeModal.modal.fade{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "welcomeModalLabel", "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => "true" } &times;
          %span.sr-only Close
        %h4#welcomeModalLabel.modal-title Hai, username

      .modal-body
        %p Selamat datang di eksis - <span class="eksis-mail"><a class="modal-feedback-db" href="#" data-referral="modalFeedback">pre-beta edition</a></span>.
        %p Disini tempatnya kamu untuk mengekspresikan diri melalui portfolio yang unik. Kamu tidak perlu gelar sarjana informatika atau ahli roket untuk bisa menggunakan tools eksis.
        %h4 Ayo, rancang sendiri layoutnya.
        %p Dengan sistem drag-n-drop, kamu bisa membuat kombinasi layout sesuka hati.
        %img{:src => "images/img-popup-1.jpg", :alt => "layout column", :style => "width: 270px;"}/
        %img{:src => "images/img-popup-2.jpg", :alt => "layout column", :style => "height: 175px;"}/
        %h4 Ayo, berkolaborasi
        %p Jalin hubungan dengan orang-orang tepat yang mampu membawa bakat dan karir kamu ke tingkat yang lebih tinggi lagi. Jadi, pastikan portfoliomu terlihat profesional dan jangan lupa untuk melengkapi data profilemu.

      .modal-footer
        %button.btn.btn-idx.btn-danger{ :type => "button", "data-dismiss" => "modal" } Mulai


/ Feedback form modal
#feedbackModal.modal.fade{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "feedbackModalLabel", "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => "true" } &times;
          %span.sr-only Close
        %h4#feedbackModalLabel.modal-title Form masukan

      .modal-body
        %p Tim developer kamu sedang bekerja secepatnya untuk bisa menghadirkan eksis full version.
        %p Kami mohon maaf apabila saat ini masih terdapat fitur yang belum dapat digunakan atau bila kamu menemukan sesuatu yang berjalan tidak seperti yang kamu harapkan.
        %p Silahkan gunakan form berikut ini untuk melaporkannya.
        %form#feedbackFormModal.feedback-form-modal.form-horizontal{ :role => "form" }
          .form-group
            %label.col-sm-2.control-label{ :for => "inputSelectFeedback" } Subjek
            .col-sm-10
              %select#inputSelectFeedback.form-control
                %option Pilih subjek
          .form-group
            %label.col-sm-2.control-label{ :for => "inputMessageFeedback" } Pesan
            .col-sm-10
              %textarea#inputMessageFeedback.form-control{ :placeholder => "Tulis pesan kamu" }
          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-idx.btn-danger.pull-right{ :type => "submit" } Kirim

/ Feedback form modal
#feedbackTYModal.modal.fade{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "welcomeModalLabel", "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal" }
          %span{ "aria-hidden" => "true" } &times;
          %span.sr-only Close
        %h4#feedbackModalTYLabel.modal-title Terima Kasih

      .modal-body{ :style => "text-align: center;" }
        %span.glyphicon.glyphicon-ok{ :style => "font-size: 48px; color: green;" }
        %h5{ :style => "text-align: center; line-height: 1.5;" } Masukan anda sangat berarti bagi tim eksis untuk tetap menghadirkan layanan yang memudahkan dan berkualitas.

      .modal-footer
        %button.btn.btn-default{ :type => "button", "data-dismiss" => "modal" } Close

