---
title: Terima Kasih
body_class: "thankyou"
---

.container.ctn-eksis

  .su-page-title-wrapper
    .su-page-title
      %h1.su-page-title Registrasi Baru

  .container
    .thankyou-panel
      .panel.panel-default
        .panel-body
          %h1.h2 Terima kasih telah mendaftar.
          %p.lead Anda akan segera dialihkan dalam 5 detik.
          %button.btn.btn-danger.btn-lg.btn-idx Lanjutkan

/.container
