.menu-builder-title.menu-builder-grid5.tooltips{"data-toggle" => "tooltip", :title => "Upload image to share image"}
  %i
  1/4
.menu-builder-content.clearfix
  .col-md-3.builder-columns-grid
    .builder-columns
      .builder-column-title 1/4
      .builder-column-body
  .col-md-3.builder-columns-grid
    .builder-columns
      .builder-column-title 1/4
      .builder-column-body
  .col-md-3.builder-columns-grid
    .builder-columns
      .builder-column-title 1/4
      .builder-column-body
  .col-md-3.builder-columns-grid
    .builder-columns
      .builder-column-title 1/4
      .builder-column-body
