.menu-builder-title.menu-builder-video.tooltips{"data-toggle" => "tooltip", :title => "Upload image to share image"}
  %i
  Video
.menu-builder-content
  .panel.panel-default
    .panel-heading
      Setting Embed
      %a.close.pull-right{:href => "#"} <span class="glyphicon glyphicon-remove"></span>
    .panel-body
      %p Video
      %p
        %input.form-control{:type => "text", :placeholder => "source id - paste url atau id video"}/
      %p.row
        %span.col-sm-3
          %input.form-control{:type => "text", :placeholder => "tinggi"}/
        %span.col-sm-3 px
      %p.row
        %span.col-sm-3
          %input.form-control{:type => "text", :placeholder => "tinggi"}/
        %span.col-sm-3 px
      %p.text-right
        %a.save-opts{:href => "#"} Simpan <span class="glyphicon glyphicon-ok"></span>