.menu-builder-title.menu-builder-grid2.tooltips{"data-toggle" => "tooltip", :title => "Upload image to share image"}
  %i
  1/2
.menu-builder-content.clearfix
  .col-md-6.builder-columns-grid
    .builder-columns
      .builder-column-title 1/2
      .builder-column-body
  .col-md-6.builder-columns-grid
    .builder-columns
      .builder-column-title 1/2
      .builder-column-body

