.menu-builder-title.menu-builder-grid1.tooltips{"data-toggle" => "tooltip", :title => "Upload image to share image"}
  %i
  1/1
.menu-builder-content
  .builder-columns
    .builder-column-title 1/1
    .builder-column-body
