.form-signup-wrapper {
  @extend .row;
}

.form-signup {
  @extend .col-md-5;
}

.su-page-title-wrapper {
  margin-bottom: $ggw *3;

  .su-page-title {
    width: 300px;
    margin: 0 auto;

    .icon-wrapper {
      width: 64px;
      height: 64px;
      margin: 0 auto;
      position: relative;

      .glyphicon-user {
        font-size: 64px;
      }

      .glyphicon-plus {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .su-page-title {
      font-family: "open_sanslight", sans-serif;
      text-align: center;
    }
  }
}

.form-signup-separator {
  text-align: center;
  position: relative;
  margin-top: $ggw *2;

  .separator-line {
    height: 1px;
    background-color: #444;
    position: absolute;
    margin-top: 13px;
    content: "";
    left: 0;
    right: 0;
    z-index: 0;
  }

  .separator-text {
    font-family: "open_sansitalic", sans-serif;
    font-size: 18px;
    background-color: #fff;
    z-index: 1;
    position: relative;
    padding: 0 $ggw *0.5;
  }
}

.signup-oauth {
  text-align: center;
  font-weight: bold;
  font-family: "open_sansbold", sans-serif;
}

.thankyou {
  text-align: center;
  height: 300px;

  .h2 {
    font-family: "open_sansbold", sans-serif;
  }

  .lead {
    font-family: "open_sanslight", sans-serif;
  }
}

.thankyou-panel {
  @extend .row;

  .panel {
    @extend .col-md-8;
    @extend .col-md-push-2;
  }

  .btn-idx {
    margin-bottom: $ggw *1.5;
  }
}