%footer#footer.ft-eksis
  .container
    .footer-wrapper
      .footer-widget-address
        %h5.widget-title Pijar Asia
        .widget-content
          %p Menara R&D Center 4th Floor <br/> Jl. Gegerkalong Hilir no. 47 <br/> Bandung 40152 <br/> bantuan@pijar.id <br/><br/> <a href="#" title="Twitter"><img src="../images/icon-tw.jpg" alt="Twitter" width="24" height="24" /></a> <a href="#" title="Facebook"><img src="../images/icon-fb.jpg" alt="Facebook" width="24" height="24" /></a>
      .footer-widget-subscribe
        %h5.widget-title Daftar Newsletter Eksis
        .widget-content
          .input-group
            %input.form-control{ :type => "text", :placeholder => "Alamat email kamu" }
            %span.input-group-btn
              %button.btn.btn-default.btn-ft-subscribe{ :type => "button" } Daftar
          / .input-group
    %p.ft-bottom © Copyright 2014 - Pijar Asia. All rights reserved.
