.navbar.navbar-default{ :role => "navigation" }
  .container
    .navbar-header
      %a.navbar-brand{ :href => "#" }
        %span.logo-trans
          %img{ :src => "images/logo-tagline-transparent.png", :alt => "Eksis" }/
        %span.logo-text
          Eksis
    .navbar-visitor
      %ul.nav.navbar-nav.pull-right
        / ini nanti di switch ketika udah login/belum login
        / ilangin salah satu list itemnya.
        %li
          %a.btn-login-hp.hide{ :href => "#" } Login
          #form-login-hp.form-login-hp
            %h5.heading-form-login-hp Masukkan email dan passwordmu
            %form{ :role => "form" }
              .form-group.input-email-hp
                %label{ :for => "inputEmailHp" } Email address
                %input#inputEmailHp.form-control{ :type => "email", :placeholder => "Enter email" }
              .form-group.input-pass-hp
                %label{ :for => "inputPassHp" } Password
                %input#inputPassHp.form-control{ :type => "password", :placeholder => "Password" }
              %button#form-login-hp-submit.btn.btn-default{ :type => "submit" } Login
              %a.forgot-login Lupa login kamu
          /.form-login-hp

        %li
          %a.btn-menu-profile{ :href => "#" } fgaeg <span class="glyphicon glyphicon-chevron-down"></span>
          %ul.list-menu-profile
            %li
              %a{:href => "#"} Profilku
            %li
              %a{:href => "#"} Logout
          /.list-menu-profile
    /.navbar-visitor
