.navbar-brand {
  .logo-trans {
    img {
      width: 80%;
      margin-top: -7px;
    }
  }
  .logo-text {
    display: none;
  }
}

.navbar {
  min-height: 65px;

  .main-nav {
    font-size: 32px;
  }
}


.navbar-default {
  border-color: transparent;
}

.index {
  .navbar {
    margin-bottom: 0;
  }
}

.index-visitor,
.showcase {
  .navbar {
    margin-bottom: -120px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: -70px;
    }
  }
}

.signup {
  .navbar-toggle,
  .navbar-collapse {
    @extend .hide;
  }
}

.index-visitor,
.showcase {
  .navbar-default {
    background-color: transparent;
  }
}

.btn-login-hp {
  @extend .btn;
  color: white !important;
  background-color: #f7221c;
  border-color: #d8160f;

  margin: $ggw *0.5 0 0;
}

.navbar-visitor {
  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 0;
    right: $ggw;
  }

  li.form-login-active {
    .form-login-hp {
      display: block;
    }
  }
}

.navbar-nav {
  li.menu-profile-active {
    .list-menu-profile {
      display: block;
    }
  }
}

.form-login-hp {
  background-color: $gray-lighter;
  padding: $ggw;
  position: absolute;
  right: 0;
  width: 300px;
  display: none;
  z-index: 999;

  .heading-form-login-hp {
    margin-top: 0;
  }

  .input-email-hp {
    margin-bottom: $ggw *0.25;
  }

  label {
    @extend .hide;
  }

  .forgot-login {
    @extend .small;
    @extend .pull-right;
    padding: $ggw *0.5 0;
  }
}


.btn-menu-profile {
  @extend .btn-login-hp;

  .glyphicon {
    top: 2px;
  }
}

.list-menu-profile {
  display: none;
  background-color: $gray-lighter;
  position: absolute;
  right: 0;
  width: 150px;
  list-style: none;
  padding: 0;
  z-index: 999;

  li {
    border-bottom: 1px solid lighten($gray-light, 15%);

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      padding: $ggw *0.5;
      color: red;

      &:hover {
        background-color: darken($gray-lighter, 5%);
        text-decoration: none;
      }
    }
  }
}